.nav{
    float: right;
    list-style: none;
    margin-top: 30px;
  }
  .nav li {
    display: inline-block;
  }
  .nav li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  
  } 
  .nav li a:hover{
    background: #fff;
  color: #333;
  } 